/* table{
    border-collapse: collapse;
    width: 100%;
}

td,th{
   border:1px solid #ddd;
   text-align: left;
   padding: 8px;
}

tr:nth-child(even){
   background-color: #ddd;
} */



.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1 part for filters, 2 parts for data section */
    gap: 20px;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: #f4f6f9;
    border: 1px solid #d8dde6;
    border-radius: 4px;
}

.data-section {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    overflow-x: auto;
    max-height: 400px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

.helper-text {
    font-size: 12px;
    color: #999; /* Adjust color as needed */
    margin-bottom: 5px;
}

.view-button,
.favorite-button {
    --slds-c-button-text-color: var(--lwc-colorBrand);
    background-color: #f0f4f7; /* Adjust background color as needed */
    border: 1px solid var(--lwc-colorBrand);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.view-button:hover,
.favorite-button:hover {
    background-color: var(--lwc-colorBrandHover); /* Adjust hover background color as needed */
    color: #fff;
}

.action-menu {
    margin-left: 1rem;
}
